@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Proximus</h1>
    <p>This is a test of automated deployment of a .NET 6.0 application to Ubuntu 22</p>
</div>